@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
:root {
    --cor-de-fundo: #2c0ce4;
   --texto: #ffffff;
}
/* ffffffffffff */
body {
    background-color: var(--cor-de-fundo);
   color: var(--texto);
   font-family: "Jersey 15", sans-serif;
   font-weight: 400;
   font-style: normal;
}
footer { 
   background-color: black;
  color: var(--texto);
}
header{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
.img-intro{
   width: 20%;

}

#amigas-do-eduzin{
   display: grid;
   grid-template-columns: 33% 33% 33%;
}
.edu{
  width: 40%;
}
  
.aviao{
   width: 20%;
}
header a{
   color:rgba(255, 72, 0, 0.336);
   text-decoration: none;
}