:root {
    --cor-de-fundo: #1adab0;
   --texto: #000000;
}
/* ffffffffffff */
body {
    background-color: var(--cor-de-fundo);
   color: var(--texto);
}

header{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
.img-intro{
   width: 20%;

}
}
.amigas-do-eduzin{
   display: grid;
   grid-template-columns: 33% 33% 33%;
}
.amigas-do-eduzin{
  width: 40%;
}
  
